<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <ul>
    <% current_user.spots.each do |spot| %>
    <li> <%= spot.name %> ,<%= spot.name %></li>
  </ul>
  <% end %>


</body>
</html>