@import "bootstrap";

/*.map { height: 180px; }*/

.body {
  /*background-color: #F0F0F0;*/
  background-color: #3a9aa8;
}
#logo a {
  color: black;

}

#logo {
  margin-right: 24em;
  font-family: 'Oswald', sans-serif;
}

#logo small {
  font-family: 'Lora', serif;
}

#headernav {
  margin-bottom: auto;
  height: 5%;
  /*float: left;*/
  background-color: #FFFFF9;



}

#header{
  height: 2em;

}

#containerlogo {
  margin-bottom: 10em;
  margin-right: 5em;
  margin-left: 5em;
  margin-top: 20em;
}


.navbar-brand {
  width: 25%;
  float: right;
  height: 10%;
}

#sidebar {
  background: none;
  margin-left: 38em;
}

#devise {
  float: right;
  margin-top: -20px;
}

#map {
  width: 1200px;
  height: 50em;
  border-radius: 5px;
  background-color: white;
  /*float: right;*/
  margin-left: auto;
  margin-top: 8em;
  margin-bottom: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 10px;
  border-color: #7F7F7C;
}

#aboutbody {
    background: url(bg.jpg) no-repeat center center fixed;
    /*background-opacity: 0.5;*/
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#aboutp {
  font-family: 'Cardo', serif;
  font-size: 18px;
  width: 50%;
  height: 50%;
  margin-left: 8em;
}