<div id='sidebar' class='navbar navbar-fixed-bottom'>
  <div class="btn-group">
        <button type="button" class="btn btn-default" id="showFavoritesButton">My Favorite's</button>
        <button type="button" class="btn btn-default" id='nightlife'>NightLife</button>
        <button type="button" class="btn btn-default" id='trending'>Trending</button>
        <button type="button" class="btn btn-default" id='cafes'>Cafes</button>
        <button type="button" class="btn btn-default" id='attractions'>Attractions</button>
  </div>
</div>